.search-page{
  color: white;
  height: 80vh;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

/* .title{
  border-bottom: gray solid 1px;
  width: 50%;
  margin: auto;

} */
.search-form{
  color: white;
  margin-top: 8%;
  margin-bottom: 2%;
}



.input-form{
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 30px;
  width: 300px;
}


#button-submit {
  display: block;
  margin: auto;
  background-color: white;
  width: 100px;
  color: black;
  text-transform: uppercase; 
  box-shadow: 0 2px 0 gray;
}

#button-submit:hover {
  background-color: black;
  color: white;
}

#button-submit:active {
  box-shadow: none;
  top: 5px;
}

#error-message{
  color: red;
}