.nav-container {
  display: grid;
  width: 100vw;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  border-bottom: 1px solid white;

}

.button {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: pink;
}

/* a:visited {
  
} */